<li class="flex space-x-6 py-6">
  <img src="https://tailwindui.com/img/ecommerce-images/confirmation-page-06-product-01.jpg" alt="Model wearing men&#039;s charcoal basic tee in large." class="h-24 w-24 flex-none rounded-md bg-gray-100 object-cover object-center">
  <div class="flex-auto space-y-1">
    <h3 class="text-gray-900">
      <a href="#"><%= product.name %></a>
    </h3>
    <%= form_with( model: cart, url: cart_path(cart), method: :put, data: { controller: "autosubmit" }, ) do |f| %>
      <%= f.hidden_field :product_id, value: product.id %>
      <%= f.number_field :quantity, value: cart.quantity_for(product), 
        class: "w-16 h-10 border border-gray-300 rounded-md pl-3",  
        data: { action: "blur->autosubmit#submit"}
      %>
    <% end %>
  </div>
  <p class="flex-none font-medium text-gray-900">$<%= product.price %></p>
</li>
